.sliding-puzzle{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.block {
    height: 3rem;
    width: 3rem;
    border: solid black 1px;
    text-align: center;
    font-size: 2rem;
}

.empty {
    background-color: lightgray;
}